aiohttp==3.9.0b0
aiosignal==1.3.1
asgiref==3.7.2
async-timeout==4.0.3
attrs==23.1.0
Brotli==1.1.0
certifi==2023.7.22
charset-normalizer==3.3.0
Django==4.2.5
frozenlist==1.4.0
gevent==23.9.1
geventhttpclient==2.0.2
greenlet==3.0.0
grpcio==1.59.0
hnne==0.1.10
idna==3.4
minio==7.1.13
multidict==6.0.4
numpy==1.26.0
opencv-contrib-python-headless==4.8.1.78
openTSNE==1.0.1
packaging==23.2
pathos==0.3.1
protobuf==3.20.3
psycopg[binary]==3.1.12
python-rapidjson==1.12
requests==2.31.0
scikit-learn==1.3.2
six==1.16.0
sqlparse==0.4.4
tritonclient==2.36.0
umap-learn==0.5.6
ujson==5.8.0
whitenoise==6.5.0
yarl==1.9.2
zope.event==5.0
zope.interface==6.1
tritonclient[all]==2.36.0